<center>
	<h1 style="font-size:16px;margin-top:-29px;">WHENDO, A UNIXY, LITTLE EVENT REACTOR</h1>
	<br>
	<img id="terminal" src="$(render url)/assets/media/term.gif"/>
  <h2>CRON + WHENDO = BLISS</h2>
  <p>
     CRON is awesome, but combined with WHENDO things become <b>MUCH</b> easier:<br>
     <pre>
       <code class="pretty">
* * * * *  /path/to/whendo /myproject/.whendo 
       </code>
     </re>
     <ul>
       <li>run things per second instead of per minute</li>
       <li>easily write test scripts for our jobs</li>
     </ul>
     <pre>
       <code class="pretty">
$ whendo test 
       </code>
     </re>
     nuff said.<br>
  </p>
  <h2>stunning event-driven intelligence</h2>
  <h2>no more overlapping cronjobs</h2>
  <h2>amazeballs lightweigth build-runner</h2>
  <h2>breathtaking ascii-art</h2>
  <h2>stupendous reactivity</h2>
  <h2>thrilling possibilities</h2>  
  <h2>spectacular bash metaprogramming</h2>
  <h2>works on your linux smartwatch!</h2>
</center>

<div class="backdrop" style="background-image: url($(render url)/assets/media/backdrop.jpg)"></div>
<style type="text/css">
#terminal{
	border: 2px solid #CFF3;
	border-radius: 4px;
	opacity: 0.7;
	filter: hue-rotate(80deg) brightness(1.5);
	box-shadow: 0px 0px 30px #CCF3;
}
.backdrop{
height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.1;
    filter: blur(3px344}
svg.img{
transform: scale(1.4);
}
@media only screen and (max-width: 1000px) {
  svg.img{
    transform: scale(0.8);
  }
}

code{
	font-size:13px;
	margin-right:15px;
}
</style>
